<h1>หมวดหมู่ทั้งหมด</h1>

<%= form_with(model: @category, local: true) do |form| %>
  <%= form.label :name, "ชื่อหมวดหมู่" %>
  <%= form.text_field :name %>
  <%= form.submit "สร้างหมวดหมู่" %>
<% end %>

<ul>
  <% @categories.each do |category| %>
    <li>
      <%= category.name %>
      <%= link_to 'แก้ไข', edit_category_path(category) %>
      <%= link_to 'ลบ', category_path(category), method: :delete, data: { confirm: "คุณแน่ใจว่าต้องการลบหมวดหมู่นี้?" } %>
    </li>
  <% end %>
</ul>

<% if @tasks %>
  <ul class="task-list">
    <% @tasks.each do |task| %>
      <li class="task-item">
        <%= task.name %>
        <%= link_to 'แก้ไข', edit_task_path(task), class: "btn btn-secondary" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>ไม่มีงานในระบบ</p>
<% end %>
